.footer {
    font-size: clamp(0.6rem, calc(1vw +1rem), 1.125rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10rem 0 1rem 0;

    small {
        span {
            color: $pink;
        }
    }
}
