@import "./tags";

@mixin resetLinks() {
    text-decoration: none;
    color: $fontColor;
}
@mixin buttons() {
    button {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        color: inherit;
        padding: 0.5rem;
        border: none;
        background-color: #424242;
        font-size: map-get($fontSize, $key: "sm");
        opacity: 0.7;
        svg {
            margin-left: 0.5rem;
        }
        &:hover {
            opacity: 1;
        }

        @media (min-width: 768px) {
            padding: 0.6rem 0.7rem;
        }
    }
}
@mixin createCard() {
    .card {
        margin-bottom: 2rem;
        border-radius: 5px;
        background-color: #302f2f;
        transition: transform 300ms ease-out;
        &-img {
            width: 100%;
            height: auto;
        }
        .card-content {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            .card-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    font-size: clamp(1rem, 3vw, 1.2rem);
                }

                .project-links {
                    a {
                        @include resetLinks();
                        position: relative;
                        margin: 0 0.4rem;
                        font-size: 1.3rem;
                        span {
                            background-color: #424141;
                            border-radius: 5px;
                            padding: 0.3rem;
                            position: absolute;
                            font-size: 0.8em;
                            width: max-content;
                            left: -35px;
                            transition: transform 300ms
                                cubic-bezier(0.33, 0.66, 0.66, 1);
                            transform: scale(0);
                        }
                        &:hover {
                            span {
                                transform: scale(1) translateY(-40px);
                            }
                        }
                    }
                }
            }
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                    margin: 0.5rem 0 1.8rem 0;
                    font-size: clamp(0.8rem, 3vw, 1rem);
                }
                small {
                    font-size: clamp(0.7rem, 1vw, 0.8rem);
                }
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
