.navbar {
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    .nav-logo {
        @include resetLinks();
        font-weight: 700;
        font-size: map-get($fontSize, $key: "md");
    }
    .nav {
        list-style: none;
        display: flex;
        .nav-item {
            position: relative;
            .nav-link {
                @include resetLinks();
                padding: 0.2rem 0.8rem;
                transition: background-color $transition-speed
                    cubic-bezier(0.33, 0.66, 0.66, 1);
                &::after {
                    content: "";
                    position: absolute;
                    background-color: $pink;
                    width: 100%;
                    height: 0;
                    bottom: -3px;
                    left: 0;
                    transition: all $transition-speed ease;
                }
            }

            &:hover {
                .nav-link {
                    background-color: rgba($pink, $alpha: 0.3);
                    &::after {
                        height: 3px;
                    }
                }
            }
        }
        @media (max-width: $screen-width-sm) {
            display: none;
        }
    }
    @media (max-width: $screen-width-sm) {
        padding: 1.5rem;
    }
}
