.overlay {
    width: 100%;
    height: 100%;
    filter: blur(0px);
    transition: filter var(--transition-speed) ease;
}

@media (max-width: $screen-width-sm) {
    .overlay-show {
        filter: blur(5px);
    }
}
