@import "./tags";
#projects {
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    h2 {
        align-self: center;
        font-size: map-get($fontSize, $key: "md");
        margin-bottom: 0.8rem;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 400px));
        grid-template-rows: 1fr;
        justify-content: space-evenly;
        grid-gap: 2rem;

        .card {
            margin-bottom: 2rem;
            border-radius: 5px;
            background-color: #302f2f;
            transition: transform 300ms ease-out;
            &-img {
                width: 100%;
                height: auto;
            }
            .card-content {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                .card-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        font-size: 1.125rem;
                    }

                    .project-links {
                        a {
                            @include resetLinks();
                            position: relative;
                            margin: 0 0.4rem;
                            font-size: 1.3rem;
                            span {
                                background-color: #424141;
                                border-radius: 5px;
                                padding: 0.3rem;
                                position: absolute;
                                font-size: 0.8rem;
                                width: max-content;
                                left: -25px;
                                transition: transform 300ms
                                    cubic-bezier(0.33, 0.66, 0.66, 1);
                                transform: scale(0);
                            }
                            &:hover {
                                span {
                                    transform: scale(1) translateY(-30px);
                                }
                            }
                        }
                    }
                }
                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        margin: 0.5rem 0 1.8rem 0;
                        font-size: 0.8rem;
                    }
                    small {
                        font-size: 0.7rem;
                    }
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
