@import "./tags";
#projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    h2 {
        text-align: center;
        font-size: map-get($fontSize, $key: "md");
        margin-bottom: 3rem;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 450px));
        justify-content: space-evenly;
        grid-gap: 2rem;

        @include createCard();
    }
}
