.tag {
    display: inline-block;
    padding: 0.125rem 0.2rem;
    margin: 0 0.2rem 0.2rem 0;
}
.tag-html {
    background-color: #c73b08;
    color: #f4f4f4;
}

.tag-css {
    background-color: rgb(16, 119, 214);
    color: #ffffff;
}

.tag-javascript {
    background-color: #ffff00;
    color: black;
}
.tag-express {
    background-color: #424242;
    color: white;
}
.tag-mongo {
    background-color: #13aa52;
    color: #ffff;
}
.tag-node {
    background-color: #026e00;
    color: #fff;
}
.tag-react {
    background-color: #5fd9fb;
    color: #000;
}
.tag-tailwind {
    background-color: #0ea5e9;
    color: #fff;
}
.tag-spotify {
    background-color: #1db954;
    color: #fff;
}
.tag-chakra {
    background-color: #319795;
    color: #fff;
}
.tag-typescript {
    background-color: #3178c6;
    color: #fff;
}
