@mixin main-theme {
    --background: var(--clr);
    --text-color: var(--clr-4);
    --font: var(--fontFamily);
    --transition: all var(--transition-speed) ease;
    --transition-speed: 300ms;
    --clr-accent: var(--accent);
    --nav-background: var(--clr-2);
    --nav-shadow: 0 0 10px -5px #010101;
    --link-background: #312f2f;
    --card-background: var(--clr-2);
    --card-shadow: 0 0 10px -3px var(--clr);
}
.dark-theme {
    @include main-theme();
}
.light-theme {
    --background: #e2e6ee;
    --text-color: var(--clr-3);
    --font: var(--fontFamily);
    --transition: all var(--transition-speed) ease;
    --transition-speed: 300ms;
    --clr-accent: var(--accent);
    --nav-background: var(--clr-5);
    --nav-shadow: 0 0 10px -5px var(--clr);
    --link-background: #f4f4f4;
    --card-background: var(--clr-5);
    --card-shadow: 0 0 8px -5px var(--clr);
}
