@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$fontFamily: "Poppins", sans-serif;
$bgColor: #212121;
$accentColor: #fe019a;
$fontColor: #afc8dd;
$fontSize: (
    "lg": clamp(1.5rem, 5vw, 10rem),
    "md": clamp(1.5rem, 2vw, 2.5rem),
    "sm": clamp(0.8rem, 1vw, 1.5rem),
);
