@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bgColor;
    color: $fontColor;
    font-size: map-get($fontSize, $key: "sm");
}
