@import "./variables";
@import "./globals";
@import "./navbar";
@import "./landing";
@import "./about";
@import "./projects";
@import "./contact";
@import "./_footer";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bgColor;
    color: $fontColor;
    font-size: map-get($fontSize, $key: "sm");
    font-family: $fontFamily;

    .main-container {
        padding: 0 1.2rem;
        @media (min-width: 900px) {
            padding: 0 1.8rem;
        }
    }
}
